.homePage {
    background-color: #262934 !important;
}

.homePage .flex {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  font-size: 36px;
  color: #fff;
  line-height: 50px;
    text-align: center;
    font-family: monospace;
}

.name {
  color: #E31B6D;
  font-weight: 600;
  display: initial;
}

.button {
  width: 200px;
  margin: 20px auto;
  height: 50px;
  font-size: 22px !important;
  background: transparent !important;
  font-family: monospace;
  color: #fff !important;
  outline: none;
  cursor: pointer;
}

.flex .first {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(26, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}