.header {
    display: flex;
    flex-direction: row;
    height: 50px;
    border: 1px solid black;
    font-size: 20px;
    font-family: sans-serif; 
    background-color: #262934 !important;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    justify-content: space-around;
}

.links {
    padding: 15px 0;
}

.selectedLink {
    color: #E31B6D;
}

a {
    text-decoration: none;
    color: #fff;
}