.header {
    display: flex;
    background-color: #262934 !important;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.links {
    padding: 15px 0;
}

.selectedLink {
    color: #E31B6D;
}

a {
    text-decoration: none;
    color: #fff;
}