html, body, #root, .app, .homePage, .body {
  /* TODO - we need to remove .body from above as this is creating unnecessary scroll in pages */
  height: 100%;
}

.app {
  font-family: sans-serif;
  display: grid;
  grid-template-rows: 50px auto 50px;
  grid-template-columns: 10% auto 10%;
}

.body {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    overflow: auto;
}

.blueBackGround {
    background-color: #272934;
}

/* Scroll bar css starts */
/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 2px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #E31B6D; 
    border-radius: 2px;
}


/* Scroll bar css ends */

@media screen and (max-width: 480px) {

    .flex {
        font-size: 20px !important;
    }

    .app {
        grid-template-columns: 5% auto 5%;
    }

    .resume img {
        height: 50px !important;
        width: 50px !important;
    }
    .about {
        display: block !important;
    }

    .about .description {
        line-height: 25px;
        text-align: justify;
        font-size: 15px;
    }
}